@import url(http://fonts.googleapis.com/css?family=Oleo+Script);

body{
	//margin: 0;
//	padding: 0;
	background-color: #ededed;
	//background-color: #ffe;
//	overflow: hidden;
}
.button{
	position: absolute;
	width: 360px;
	height: 360px;
	top: 50%;
	left: 50%;
	margin: -180px 0 0 -180px;
	cursor: pointer;
}
.button .square{
	position: absolute;
	width: 360px;
	height: 360px;
	background-color: #347478;
	box-shadow: 0px 0px 25px 5px rgba(1, 1, 1, 0.4);
	-webkit-transition-duration: 600ms;
	-webkit-transition-property: transform;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-duration: 600ms;
	-moz-transition-property: transform;
	-moz-transition-timing-function: ease-in-out;
	-ms-transition-duration: 600ms;
	-ms-transition-property: transform;
	-ms-transition-timing-function: ease-in-out;
	transition-duration: 600ms;
	transition-property: transform;
	transition-timing-function: ease-in-out;
}
.button .square:nth-child(odd){
	background-color: #529186;
}
.button .square-1{
	-webkit-transform: rotate(-30deg) scale(0.5);
	-webkit-transition-delay: 40ms;
	-moz-transform: rotate(-30deg) scale(0.5);
	-moz-transition-delay: 40ms;
	-ms-transform: rotate(-30deg) scale(0.5);
	-ms-transition-delay: 40ms;
	transform: rotate(-30deg) scale(0.5);
	transition-delay: 40ms;

}
.button .square-2{
	-webkit-transform: rotate(-15deg) scale(0.5);
	-webkit-transition-delay: 80ms;
	-moz-transform: rotate(-15deg) scale(0.5);
	-moz-transition-delay: 80ms;
	-ms-transform: rotate(-15deg) scale(0.5);
	-ms-transition-delay: 80ms;
	transform: rotate(-15deg) scale(0.5);
	transition-delay: 80ms;
}
.button .square-3{
	-webkit-transform: rotate(0deg) scale(0.5);
	-webkit-transition-delay: 120ms;
	-moz-transform: rotate(0deg) scale(0.5);
	-moz-transition-delay: 120ms;
	-ms-transform: rotate(0deg) scale(0.5);
	-ms-transition-delay: 120ms;
	transform: rotate(0deg) scale(0.5);
	transition-delay: 120ms;
}
.button .square-4{
	-webkit-transform: rotate(15deg) scale(0.5);
	-webkit-transition-delay: 160ms;
	-moz-transform: rotate(15deg) scale(0.5);
	-moz-transition-delay: 160ms;
	-ms-transform: rotate(15deg) scale(0.5);
	-ms-transition-delay: 160ms;
	transform: rotate(15deg) scale(0.5);
	transition-delay: 160ms;
}
.button .square-5{
	-webkit-transform: rotate(30deg) scale(0.5);
	-webkit-transition-delay: 200ms;
	-moz-transform: rotate(30deg) scale(0.5);
	-moz-transition-delay: 200ms;
	-ms-transform: rotate(30deg) scale(0.5);
	-ms-transition-delay: 200ms;
	transform: rotate(30deg) scale(0.5);
	transition-delay: 200ms;
}
.button .square-6{
	-webkit-transform: rotate(45deg) scale(0.5);
	-webkit-transition-delay: 240ms;
	-moz-transform: rotate(45deg) scale(0.5);
	-moz-transition-delay: 240ms;
	-ms-transform: rotate(45deg) scale(0.5);
	-ms-transition-delay: 240ms;
	transform: rotate(45deg) scale(0.5);
	transition-delay: 240ms;
}
.button.active .square-1,
.button:hover .square-1{
	-webkit-transform: rotate(15deg) scale(1);
	-moz-transform: rotate(15deg) scale(1);
	-ms-transform: rotate(15deg) scale(1);
	transform: rotate(15deg) scale(1);
}
.button.active .square-2,
.button:hover .square-2{
	-webkit-transform: rotate(30deg) scale(1);
	-moz-transform: rotate(30deg) scale(1);
	-ms-transform: rotate(30deg) scale(1);
	transform: rotate(30deg) scale(1);
}
.button.active .square-3,
.button:hover .square-3{
	-webkit-transform: rotate(45deg) scale(1);
	-moz-transform: rotate(45deg) scale(1);
	-ms-transform: rotate(45deg) scale(1);
	transform: rotate(45deg) scale(1);
}
.button.active .square-4,
.button:hover .square-4{
	-webkit-transform: rotate(60deg) scale(1);
	-moz-transform: rotate(60deg) scale(1);
	-ms-transform: rotate(60deg) scale(1);
	transform: rotate(60deg) scale(1);
}
.button.active .square-5,
.button:hover .square-5{
	-webkit-transform: rotate(75deg) scale(1);
	-moz-transform: rotate(75deg) scale(1);
	-ms-transform: rotate(75deg) scale(1);
	transform: rotate(75deg) scale(1);
}
.button.active .square-6,
.button:hover .square-6{
	-webkit-transform: rotate(90deg) scale(1);
	-moz-transform: rotate(90deg) scale(1);
	-ms-transform: rotate(90deg) scale(1);
	transform: rotate(90deg) scale(1);
}
.button .circle{
	position: absolute;
	width: 360px;
	height: 360px;
	//background-color: #f2dbb7;
	background-color: #ededed;
	//background-color: #ffe;
	border-radius: 50%;
	box-shadow: 0px 0px 25px 5px rgba(1, 1, 1, 0.4);
	transition: all 500ms;
}

.button .circle h1{
	font-family: "Oleo Script";
	text-align: center;
	font-weight: normal;
	color: #21626f;
	font-size: 60px;
	padding: 0;
	margin: 120px 0 0 0;
}

.button .circle h2{
	font-family: "Oleo Script";
	text-align: center;
	font-weight: normal;
	color: #529186;
	font-size: 21px;
	padding: 50px 0 0 0;
	margin: 0;
}
.button .circle h2 a{
	color: #21626f;
	text-decoration: underline;
}
@-moz-document url-prefix()
{
    .button .circle h1{
font-family:"catalog",Georgia,Times,"Times New Roman",serif;
}
.button .circle h2{
    font-family:"catalog",Georgia,Times,"Times New Roman",serif;
}
}



