/*
 * Post Navigation Animations
 */
@keyframes postNavImg {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes postNavImg {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
html {
  height: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  height: 99%;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@media (max-width:992px) {
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
img {
  max-width: 100%;
}
@media (max-width:992px) {
  .gpu {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  }
}
.gpuAll {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility-origin: hidden;
  -ms-backface-visibility-origin: hidden;
  -o-backface-visibility-origin: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 1000;
  -moz-transform-origin: 1000;
  -ms-transform-origin: 1000;
  -o-transform-origin: 1000;
  perspective: 1000;
}
/*
 * Global Text Styles
 */
a {
  text-decoration: none;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
input:focus {
  outline: 0;
}
input:active {
  outline: 0;
}
[class~="btn"] span {
  position: relative;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 992px) {
  .container {
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
  }
}
@media (min-width: 992px) and (max-width: 1280px) {
  .container {
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
  }
}
/*h1,
h2,
h3,
h4,
h5,
h6 {
  color: #252425;
//  font-family: "uni", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
//  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
}*/
i {
  font-style: normal;
}
#spin-container {
  width: 43px;
  z-index: 9000;
}
@media (min-width: 992px) {
  main[role="main"] {
    position: relative;
    margin-top: 100px;
  }
}
a.awards-btn {
  display: inline-block;
  width: auto;
  padding: 10px 15px;
  margin-right: 10px;
  overflow: hidden;
}
@media (max-width:992px) {
  a.awards-btn {
    display: block;
    margin-right: 0px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  a.awards-btn {
    margin-right: 10px;
    display: inline-block;
  }
}
@media (min-width: 992px) {
  a.awards-btn {
    margin-right: 10px;
  }
}
a.awards-btn .icon-arrow-right {
  position: absolute;
  width: 15px;
  height: 14px;
  color: #aaaaaa;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
@media (max-width:992px) {
  a.awards-btn .icon-arrow-right {
    top: 0px;
    left: 0px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  a.awards-btn .icon-arrow-right {
    left: 15px;
  }
}
@media (min-width: 992px) {
  a.awards-btn .icon-arrow-right {
    width: 15px;
    height: 14px;
    left: 15px;
  }
}
a.awards-btn div.btn-content {
  position: relative;
  top: -4px;
  left: -3px;
  font-spacing: 1px;
}
@media (max-width:992px) {
  a.awards-btn div.btn-content {
    left: -2px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  a.awards-btn div.btn-content {
    left: -3px;
    font-size: 14px;
    padding: 0 3px;
  }
}
@media (min-width: 992px) {
  a.awards-btn div.btn-content {
    left: -3px;
    font-size: 12px;
    top: -1px;
  }
}
a.awards-btn .icon-arrow-right:first-child {
  left: -40px;
  color: #ffffff;
}
@media (min-width: 768px) and (max-width: 992px) {
  a.awards-btn .icon-arrow-right:first-child {
    left: -25px;
  }
}
@media (min-width: 992px) {
  
}
a.awards-btn .link-arrow-container {
  position: relative;
  display: inline-block;
  width: 27px;
  height: 21px;
  left: -5px;
  top: -2px;
  font-size: 24px;
  overflow: hidden;
}
@media (max-width:992px) {
  a.awards-btn .link-arrow-container {
    top: 3px;
  }
}
@media (min-width: 992px) {
  a.awards-btn .link-arrow-container {
    width: 43px;
    height: 14px;
    top: -2px;
    overflow: visible;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  a.awards-btn .link-arrow-container {
    left: -16px;
    top: 3px;
    overflow: visible;
  }
}
a.awards-btn:hover .icon-arrow-right {
  margin-left: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media (min-width: 992px) {
  a.awards-btn:hover .icon-arrow-right {
    margin-left: 55px;
  }
}
a.awards-btn .btn-divider {
  position: relative;
  top: -1px;
  margin-right: 15px;
}
header {
  font-family: "uni", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
header.entry-title,
header.page-title {
  text-align: center;
}
header.page-title {
  margin-bottom: 40px;
}
.big-header {
  margin-top: 1em;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1;
}
@media (min-width: 768px) and (max-width: 992px) {
  .big-header {
    font-size: 46px;
  }
}
@media (min-width: 992px) {
  .big-header {
    font-size: 70px;
    letter-spacing: 2px;
  }
}
.medium-header {
  display: none;
}
@media (min-width: 992px) {
  .medium-header {
    display: block;
    font-size: 56px;
  }
}
.module-header {
  font-size: 23px;
  text-align: left;
}
@media (min-width: 992px) {
  .module-header {
    font-size: 28px;
  }
}
.small-header {
  font-size: 23px;
}
@media (min-width: 992px) {
  .small-header {
    font-size: 18px;
  }
}
@media (max-width:992px) {
  .small-header.has-icon i.icon:before {
    font-size: 24px;
  }
}
.column-header {
  font-size: 14px;
  text-align: left;
}
p {
  margin-top: 0;
}
@media (min-width: 992px) {
  p:last-child {
    margin-bottom: 0;
  }
}
.callout {
  color: #252425;
  font-family: "catalog", Georgia, Times, "Times New Roman", serif;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}
@media (max-width:992px) {
  .callout {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width:992px) and (min-width: 768px) and (max-width: 992px) {
  .callout {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (max-width:992px) and (min-width: 992px) {
  .callout {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width:992px) and (min-width: 992px) and (max-width: 1280px) {
  .callout {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width:992px) and (min-width: 992px) and (max-width: 1640px) {
  .callout {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .callout {
    font-size: 35px;
  }
}
@media (min-width: 992px) {
  .callout {
    line-height: 1;
    font-size: 60px;
    margin-bottom: 60px;
  }
}
.callout span {
  color: #949494;
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 10px;
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 992px) {
  .callout span {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  .callout span {
    font-size: 14px;
  }
}
.callout p {
  margin: 0;
}
.keyline {
  margin-bottom: 18px;
  padding-bottom: 18px;
  position: relative;
  min-height: 1px;
}
@media (min-width: 992px) {
  .keyline {
    padding-bottom: 36px;
    margin-bottom: 36px;
  }
  .keyline:after {
    height: 2px;
  }
}
.keyline:after {
  background-color: #dddddd;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  min-height: 1px;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  width: 40px;
}
@media (max-width:992px) {
  .keyline {
    margin-bottom: 18px;
    padding-bottom: 18px;
    position: relative;
    min-height: 1px;
  }
  .keyline:after {
    background-color: #dddddd;
    bottom: -3px;
    content: "";
    display: block;
    height: 1px;
    min-height: 1px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    width: 40px;
  }
}
@media (max-width:992px) and (min-width: 992px) {
  .keyline {
    padding-bottom: 36px;
    margin-bottom: 36px;
  }
  .keyline:after {
    height: 2px;
  }
}
@media (min-width: 992px) {
  .keyline {
    margin-bottom: 18px;
    padding-bottom: 18px;
    position: relative;
    min-height: 1px;
  }
  .keyline:after {
    background-color: #dddddd;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    min-height: 1px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    width: 40px;
  }
}
@media (min-width: 992px) and (min-width: 992px) {
  .keyline {
    padding-bottom: 36px;
    margin-bottom: 36px;
  }
  .keyline:after {
    height: 2px;
  }
}
.keyline-awards {
  margin-bottom: 18px;
  padding-bottom: 18px;
  position: relative;
  min-height: 1px;
}
@media (min-width: 992px) {
  .keyline-awards {
    padding-bottom: 36px;
    margin-bottom: 36px;
  }
  .keyline-awards:after {
    height: 2px;
  }
}
.keyline-awards:after {
  background-color: #dddddd;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  min-height: 1px;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  width: 40px;
}
@media (max-width:992px) {
  .keyline-awards {
    margin-bottom: 18px;
    padding-bottom: 18px;
    position: relative;
    min-height: 1px;
  }
  .keyline-awards:after {
    background-color: #dddddd;
    bottom: 0px;
    content: "";
    display: block;
    height: 1px;
    min-height: 1px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    width: 40px;
  }
}
@media (max-width:992px) and (min-width: 992px) {
  .keyline-awards {
    padding-bottom: 36px;
    margin-bottom: 36px;
  }
  .keyline-awards:after {
    height: 2px;
  }
}
@media (min-width: 992px) {
  .keyline-awards {
    margin-bottom: 18px;
    padding-bottom: 18px;
    position: relative;
    min-height: 1px;
  }
  .keyline-awards:after {
    background-color: #dddddd;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    min-height: 1px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    width: 40px;
  }
}
@media (min-width: 992px) and (min-width: 992px) {
  .keyline-awards {
    padding-bottom: 36px;
    margin-bottom: 36px;
  }
  .keyline-awards:after {
    height: 2px;
  }
}
.keyline-about {
  margin-bottom: 18px;
  padding-bottom: 18px;
  position: relative;
  min-height: 1px;
}
@media (min-width: 992px) {
  .keyline-about {
    padding-bottom: 36px;
    margin-bottom: 36px;
  }
  .keyline-about:after {
    height: 2px;
  }
}
.keyline-about:after {
  background-color: #dddddd;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  min-height: 1px;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  width: 40px;
}
@media (max-width:992px) {
  .keyline-about {
    margin-bottom: 18px;
    padding-bottom: 18px;
    position: relative;
    min-height: 1px;
  }
  .keyline-about:after {
    background-color: #dddddd;
    bottom: 1px;
    content: "";
    display: block;
    height: 1px;
    min-height: 1px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    width: 40px;
  }
}
@media (max-width:992px) and (min-width: 992px) {
  .keyline-about {
    padding-bottom: 36px;
    margin-bottom: 36px;
  }
  .keyline-about:after {
    height: 2px;
  }
}
@media (min-width: 992px) {
  .keyline-about {
    margin-bottom: 18px;
    padding-bottom: 18px;
    position: relative;
    min-height: 1px;
  }
  .keyline-about:after {
    background-color: #dddddd;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    min-height: 1px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    width: 40px;
  }
}
@media (min-width: 992px) and (min-width: 992px) {
  .keyline-about {
    padding-bottom: 36px;
    margin-bottom: 36px;
  }
  .keyline-about:after {
    height: 2px;
  }
}
.keyline-work {
  margin-top: 38px;
  margin-left: auto;
  margin-right: auto;
  min-height: 1px;
  background-color: #dddddd;
  content: "";
  display: block;
  height: 2px;
  min-height: 2px;
  position: static;
  width: 40px;
}
@media (max-width:992px) {
  .keyline-work {
    margin-top: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .keyline-work {
    margin-top: 22px;
  }
}
@media (min-width: 992px) {
  .keyline-work {
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
    min-height: 1px;
    background-color: #dddddd;
    content: "";
    display: block;
    height: 2px;
    min-height: 2px;
    position: static;
    width: 40px;
  }
}
@media (min-width: 992px) and (max-width:992px) {
  .keyline-work {
    margin-top: 20px;
  }
}
@media (min-width: 992px) and (min-width: 768px) and (max-width: 992px) {
  .keyline-work {
    margin-top: 22px;
  }
}
@media only screen and (max-height: 375px) {
  .main-footer .social-links {
    display: none;
  }
}
.social-links {
  float: right;
  width: auto;
}
@media (max-width:992px) {
  .social-links {
    float: none;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .social-links {
    float: right;
    width: auto;
  }
}
@media (min-width: 992px) {
  .social-links {
    float: none;
    width: 100%;
  }
  article .social-links {
    float: right;
    width: auto;
  }
}
.social-links .separator {
  position: relative;
  left: 20px;
  top: 3px;
  font-size: 27px;
  color: #dddddd;
  display: none;
}
.social-links .twitter-wrap,
.social-links .facebook-wrap,
.social-links .google-wrap,
.social-links .share-wrap {
  display: inline-block;
  width: auto;
  margin: 0;
}
@media (max-width:992px) {
  .social-links .twitter-wrap,
  .social-links .facebook-wrap,
  .social-links .google-wrap,
  .social-links .share-wrap {
    width: 33.3333%;
    float: left;
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .social-links .twitter-wrap,
  .social-links .facebook-wrap,
  .social-links .google-wrap,
  .social-links .share-wrap {
    width: auto;
    display: inline-block;
  }
}
.social-links .twitter-wrap:first-child,
.social-links .facebook-wrap:first-child,
.social-links .google-wrap:first-child,
.social-links .share-wrap:first-child {
  padding-left: 0px;
  padding-right: 10px;
}
.social-links .twitter-wrap:last-child,
.social-links .facebook-wrap:last-child,
.social-links .google-wrap:last-child,
.social-links .share-wrap:last-child {
  padding-left: 10px;
}
.social-links .twitter-wrap .btn,
.social-links .facebook-wrap .btn,
.social-links .google-wrap .btn,
.social-links .share-wrap .btn {
  display: block;
  width: auto;
  padding: 5px;
}
@media (min-width: 992px) {
  .social-links .twitter-wrap .btn,
  .social-links .facebook-wrap .btn,
  .social-links .google-wrap .btn,
  .social-links .share-wrap .btn {
    padding: 3px;
  }
}
.social-links .twitter-wrap .btn .icon:before,
.social-links .facebook-wrap .btn .icon:before,
.social-links .google-wrap .btn .icon:before,
.social-links .share-wrap .btn .icon:before {
  color: #ffffff;
  font-size: 33px;
}
.social-links .google-wrap {
  margin: 0;
  float: none;
}
@media (max-width:992px) {
  .social-links .google-wrap {
    float: left;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .social-links .google-wrap {
    float: none;
  }
}
.social-links .share-wrap {
  padding-left: 10px;
}
@media (max-width:992px) {
  .social-links .share-wrap {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .social-links .share-wrap {
    display: none;
  }
}
.btn {
  border-radius: 2px;
  display: inline-block;
//  font-family: "uni", "Helvetica Neue", Helvetica, Arial, sans-serif;
 // font-size: 14px;
  font-size: 20px;
//  padding: 23px 66px;
  text-align: center;
//  text-transform: uppercase;
  width: 100%;
  position: relative;
}
@media (min-width: 992px) {
  .btn {
//    padding: 11px 15px 12px 15px;
    width: auto;
  }
}
.btn:before {
  border-radius: 2px;
  content: '';
  background-color: #808080;
  position: absolute;
  right: 0;
  left: auto;
  top: 0;
  height: 100%;
  width: 0%;
  -webkit-transition: width 0.3s cubic-bezier(1, 0, 0, 1);
  -moz-transition: width 0.3s cubic-bezier(1, 0, 0, 1);
  -o-transition: width 0.3s cubic-bezier(1, 0, 0, 1);
  transition: width 0.3s cubic-bezier(1, 0, 0, 1);
}
.btn:hover:before {
  width: 100%;
  left: 0;
  right: auto;
}
.btn:hover.btn-light {
  color: #fff;
}
.btn:hover.btn-light .btn-divider {
  color: #fff;
}
.btn i.icon:before {
  color: #ffffff;
  font-size: 15px;
}
.btn.btn-dark {
  background-color: #252425;
  color: #fff;
}
.btn.btn-dark .btn-divider {
  color: #fff;
}
.btn.btn-dark i.icon:before {
  color: #ffffff;
}
.btn.btn-light {
  border: 2px solid #aaaaaa;
  color: #aaaaaa;
}
.btn.btn-light .btn-divider {
  color: #e2e2e2;
}
.btn.btn-light:before {
  background-color: #aaaaaa;
  border-radius: 1px;
}
.has-icon {
  padding-left: 30px;
  position: relative;
}
@media (min-width: 992px) {
  .has-icon {
    padding-left: 35px;
  }
}
.has-icon i.icon {
  position: absolute;
  left: 0;
  top: 2px;
}
@media (min-width: 992px) {
  .has-icon i.icon {
    top: 0;
  }
}
@media (min-width: 992px) {
  .has-icon i.icon:before {
    color: #252425;
    font-size: 20px;
    font-size: 2rem;
  }
}
/* HomePage Button */
.workButton {
 /*
  margin-top: -79.5px; 
  margin-left: -502px;
  width: 1004px; 
  position: absolute;
  bottom: 0;
  top: 50%;
  left: 50%;
  padding-top: 177px;
  width: 672px;
  height: 261px;
  overflow: hidden;
  */
}
.workButton:hover .btn {
  color: #0a0a0a;
}
.workButton:hover .btn .btn-divider {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
  border-right: 2px solid #0f0f0f;
}
.workButton:hover .btn .link-arrow {
  margin-left: 55px;
}
.workButton:hover .btn span.text:before {
  width: 100%;
  left: 0;
  right: auto;
}
.workButton .line {
  top: 0;
  left: 0;
  right: 0;
  width: 30px;
  margin: auto;
  border: 1px solid rgba(50, 50, 50, 0.9);
}
.workButton .btn {
  //width: 100%;
 // font-family: 'Catalog';
  //font-size: 20px;
  //padding: 28px 0px;
}
.workButton .btn:before {
  border-radius: 0px;
  -webkit-transition: width 0.3s ease-out;
  -moz-transition: width 0.3s ease-out;
  -o-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
  content: none;
}
.workButton .btn.btn-white {
  color: #0f0f0f;
}
.workButton .btn span.text {
  line-height: 0.7;
  -webkit-font-smoothing: subpixel-antialiased;
  position: relative;
}
.workButton .btn span.text:before {
  content: '';
  position: absolute;
  right: 0;
  left: auto;
  bottom: -3px;
  width: 0%;
  border-bottom: 2px solid rgba(50, 50, 50, 0.9);
  -webkit-transition: width 0.4s cubic-bezier(1, 0, 0, 1);
  -moz-transition: width 0.4s cubic-bezier(1, 0, 0, 1);
  -o-transition: width 0.4s cubic-bezier(1, 0, 0, 1);
  transition: width 0.4s cubic-bezier(1, 0, 0, 1);
}
.workButton .btn .btn-content {
  line-height: 0.75;
}
.workButton .btn .btn-divider {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: baseline;
  margin-right: 13px;
  border-right: 2px solid transparent;
  -webkit-transform: matrix(1, 0, 0, 0.01, 0, 0);
  -moz-transform: matrix(1, 0, 0, 0.01, 0, 0);
  -o-transform: matrix(1, 0, 0, 0.01, 0, 0);
  -ms-transform: matrix(1, 0, 0, 0.01, 0, 0);
  transform: matrix(1, 0, 0, 0.01, 0, 0);
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-delay: 0;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 0.3s;
  -moz-transition-delay: 0;
  -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -ms-transition-property: -ms-transform;
  -ms-transition-duration: 0.3s;
  -ms-transition-delay: 0;
  -ms-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -o-transition-property: -o-transform;
  -o-transition-duration: 0.3s;
  -o-transition-delay: 0;
  -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-delay: 0;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}
.workButton .btn.site-link {
//  margin-right: 10px;
//  padding-left: 0px;
}
.workButton .btn.site-link .link-arrow {
  background-image: none;
  background-size: 12px 7px;
  width: 12px;
  height: 7px;
  left: 15px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.workButton .btn.site-link div.btn-content {
  width: 200px;
  display: inline-block;
}
@media (min-width: 992px) {
  .workButton .btn.site-link div.btn-content {
    width: 145px;
  }
}
.workButton .btn.site-link .link-arrow:first-child {
  left: -40px;
  background-image: url('assets/img/icons/pixel_arrow.png');
}
.workButton .btn.site-link .link-arrow-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  left: 14px;
  top: 4px;
  width: 45px;
  height: 14px;
  top: 5px;
  bottom: 0;
  margin: auto 0;
}
@font-face {
  font-family: 'catalog';
  src: url('assets/fonts/catalog/catalog-regular-webfont.eot');
  src: url('assets/fonts/catalog/catalog-regular-webfont.eot#iefix') format('embedded-opentype'), url('assets/fonts/catalog/catalog-regular-webfont.woff') format('woff'), url('assets/fonts/catalog/catalog-regular-webfont.ttf') format('truetype'), url('assets/fonts/catalog/catalog-regular-webfont.svg#catalog') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'catalog';
  src: url('assets/fonts/catalog/catalog-bold-webfont.eot');
  src: url('assets/fonts/catalog/catalog-bold-webfont.eot#iefix') format('embedded-opentype'), url('assets/fonts/catalog/catalog-bold-webfont.woff') format('woff'), url('assets/fonts/catalog/catalog-bold-webfont.ttf') format('truetype'), url('assets/fonts/catalog/catalog-bold-webfont.svg#catalog') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'catalog';
  src: url('assets/fonts/catalog/catalog-italic-webfont.eot');
  src: url('assets/fonts/catalog/catalog-italic-webfont.eot#iefix') format('embedded-opentype'), url('assets/fonts/catalog/catalog-italic-webfont.woff') format('woff'), url('assets/fonts/catalog/catalog-italic-webfont.ttf') format('truetype'), url('assets/fonts/catalog/catalog-italic-webfont.svg#catalog') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'uni';
  src: url('assets/fonts/uni/uni-sans-semi-bold-webfont.eot');
  src: url('assets/fonts/uni/uni-sans-semi-bold-webfont.eot#iefix') format('embedded-opentype'), url('assets/fonts/uni/uni-sans-semi-bold-webfont.svg#uni') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'uni';
  src: url('assets/fonts/uni/uni-sans-bold-webfont.eot');
  src: url('assets/fonts/uni/uni-sans-bold-webfont.eot#iefix') format('embedded-opentype'),  url('assets/fonts/uni/uni-sans-bold-webfont.svg#uni') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'uni';
  src: url('assets/fonts/uni/uni-sans-bolditalic-webfont.eot');
  src: url('assets/fonts/uni/uni-sans-bolditalic-webfont.eot#iefix') format('embedded-opentype'), url('assets/fonts/uni/uni-sans-bolditalic-webfont.woff') format('woff'), url('assets/fonts/uni/uni-sans-bolditalic-webfont.ttf') format('truetype'), url('assets/fonts/uni/uni-sans-bolditalic-webfont.svg#uni') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'jamfont';
  src: url('assets/fonts/icon/jamfont.eot');
  src: url('assets/fonts/icon/jamfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/icon/jamfont.woff') format('woff'), url('assets/fonts/icon/jamfont.ttf') format('truetype'), url('assets/fonts/icon/jamfont.svg#jamfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
 * Styles for Icons
 */
.icon {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  color: #252425;
}
.icon:before {
  display: inline-block;
  font-family: 'jamfont';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
  text-indent: 0;
  font-size: 48px;
  line-height: 1;
  vertical-align: baseline;
  speak: none;
  /* Better Font Rendering =========== */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-zoom,
.icon-cross,
.icon-sort,
.icon-angle-left,
.icon-angle-right,
.icon-caret-up,
.icon-caret-down,
.icon-web,
.icon-walk,
.icon-interactive-film,
.icon-video,
.icon-ux,
.icon-twitter,
.icon-twitter-final,
.icon-arrowup,
.icon-technology,
.icon-tablet,
.icon-strategy,
.icon-storytelling,
.icon-storybook-final,
.icon-social,
.icon-share,
.icon-search,
.icon-installation,
.icon-responsive,
.icon-related,
.icon-projects,
.icon-process,
.icon-phone,
.icon-news,
.icon-more,
.icon-mobile,
.icon-mail,
.icon-info-final,
.icon-ia,
.icon-html5,
.icon-home,
.icon-gplus,
.icon-facebook,
.icon-facebook-final,
.icon-email,
.icon-discovery,
.icon-desktop,
.icon-data-vis,
.icon-craft,
.icon-contact,
.icon-car,
.icon-bus,
.icon-blog,
.icon-bike,
.icon-ttc,
.icon-awards,
.icon-analytics,
.icon-all,
.icon-address,
.icon-about,
.icon-angle-up,
.icon-angle-down,
.icon-current-location,
.icon-address-alt,
.icon-phone-2,
.icon-arrow-right,
.icon-pin {
  font-family: 'jamfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
/*.icon-zoom:before {
  content: "\e631";
}
.icon-cross:before {
  content: "\e62f";
}
.icon-pin:before {
  content: "\e610";
}
.icon-sort:before {
  content: "\e61C";
}
.icon-angle-left:before {
  content: "\e62c";
}
.icon-angle-right:before {
  content: "\e62b";
}
.icon-caret-down:before {
  content: "\e62d";
}
.icon-caret-up:before {
  content: "\e62a";
}
.icon-web:before {
  content: "\e623";
}
.icon-walk:before {
  content: "\e622";
}
.icon-interactive-film:before {
  content: "\e620";
}
.icon-ux:before {
  content: "\e003";
}
.icon-twitter:before {
  content: "\e61f";
}
.icon-twitter-final:before {
  content: "\e005";
}
.icon-arrowup:before {
  content: "\e60a";
}
.icon-technology:before {
  content: "\e61b";
}
.icon-tablet:before {
  content: "\e008";
}
.icon-strategy:before {
  content: "\e009";
}
.icon-storytelling:before {
  content: "\e61a";
}
.icon-storybook-final:before {
  content: "\e00b";
}
.icon-social:before {
  content: "\e00c";
}
.icon-share:before {
  content: "\e00d";
}
.icon-search:before {
  content: "\e618";
}
.icon-installation:before,
.icon-responsive:before {
  content: "\e600";
}
.icon-related:before {
  content: "\e615";
}
.icon-projects:before {
  content: "\e601";
}
.icon-process:before {
  content: "\e614";
}
.icon-arrow-right:before {
  content: "\e633";
}
.icon-phone:before {
  content: "\e628";
}
.icon-news:before {
  content: "\e609";
}
.icon-more:before {
  content: "\e621";
}
.icon-mobile:before {
  content: "\e605";
}
.icon-mail:before {
  content: "\e630";
}
.icon-info-final:before {
  content: "\e626";
}
.icon-ia:before {
  content: "\e01a";
}
.icon-html5:before {
  content: "\e01b";
}
.icon-home:before {
  content: "\e625";
}
.icon-gplus:before {
  content: "\e632";
}
.icon-facebook:before {
  content: "\e61d";
}
.icon-facebook-final:before {
  content: "\e01e";
}
.icon-email:before {
  content: "\e01f";
}
.icon-discovery:before {
  content: "\e020";
}
.icon-desktop:before {
  content: "\e021";
}
.icon-data-vis:before {
  content: "\e617";
}
.icon-craft:before {
  content: "\e616";
}
.icon-contact:before {
  content: "\e613";
}
.icon-car:before {
  content: "\e619";
}
.icon-bus:before {
  content: "\e026";
}
.icon-blog:before {
  content: "\e027";
}
.icon-bike:before {
  content: "\e60f";
}
.icon-ttc:before {
  content: "\e61e";
}
.icon-awards:before {
  content: "\e60e";
}
.icon-analytics:before {
  content: "\e02a";
}
.icon-all:before {
  content: "\e607";
}
.icon-address:before {
  content: "\e02c";
}
.icon-current-location:before {
  content: "\e62e";
}
.icon-about:before {
  content: "\e604";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-phone-2:before {
  content: "\e628";
}
.icon-address-alt:before {
  content: "\e60d";
}
.icon-overview:before {
  content: "\e60c";
}
.icon-landscape:before {
  content: "\e606";
}*/
@media (max-width:992px) {
  .icon-projects:before {
    content: "\e602" !important;
  }
  .icon-process:before {
    content: "\e611" !important;
  }
  .icon-about:before {
    content: "\e603" !important;
  }
  .icon-awards:before {
    content: "\e60b" !important;
  }
  .icon-contact:before {
    content: "\e612" !important;
  }
  .icon-news:before {
    content: "\e608" !important;
  }
}
.blog-title {
  z-index: 100;
  position: relative;
  float: right;
}
.blog-title a {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: opacity 400ms ease;
}
.blog-title a:active {
  opacity: 0.5;
}
.main-header {
  position: fixed;
  height: 50px;
  width: 100%;
  //background: #ededed;
  background: #ffe;
  padding: 17px 15px;
  padding-bottom: 0px;
  z-index: 1000;
}
.main-header:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 992px) {
  body.home .main-header {
    background: transparent;
  }
}
@media (min-width: 992px) {
  .main-header.cloak {
    visibility: hidden;
  }
}
@media (max-width:992px) {
  .main-header {
    border-bottom: 1px solid #dddddd;
  }
}
.main-header #menu-click-area {
  width: 50px;
  height: 50px;
  top: -18px;
  left: -15px;
  position: absolute;
  z-index: 100;
}
@media (min-width: 992px) {
  .main-header {
    height: auto;
    padding: 60px 0 19px 0px;
  }
  .main-header #menu-click-area {
    display: none;
  }
}
.main-header .main-header-inner {
  position: relative;
}
@media (max-width:992px) {
  .main-header .main-header-inner {
    position: absolute;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .main-header .main-header-inner {
    padding: 0 100px;
    margin: 0 auto;
  }
  .nav-exposed .main-header .main-header-inner {
    padding: 0;
  }
}
@media (min-width: 992px) and (max-width: 1280px) {
  .main-header .main-header-inner {
    max-width: 1080px;
    padding: 0;
  }
}
@media (min-width: 992px) and (max-width: 1120px) {
  .main-header .main-header-inner {
    padding: 0 30px;
  }
  .nav-exposed .main-header .main-header-inner {
    padding: 0 30px;
  }
}
.main-header .main-header-inner h4.mobile {
  display: none;
}
@media (max-width:992px) {
  .main-header .main-header-inner h4 {
    display: none;
  }
  .main-header .main-header-inner h4.mobile {
    white-space: nowrap;
    color: #252425;
    display: none;
  }
}
.main-header .blog-title a {
  background-image: url("assets/img/jam3-logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0;
  color: transparent;
  font: 0/0 a;
  height: 23px;
  text-shadow: none;
  width: 51px;
  float: right;
  position: relative;
  top: -5px;
}
@media (max-width:992px) {
  .main-header .blog-title a {
    margin-right: 15px;
    background-position: right center;
    background-size: 87%;
    position: relative;
    top: -5px;
  }
}
.main-header h3 {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.main-header h4 {
  color: #252425;
  display: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 1;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-property: color;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition-property: color;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-property: color;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
@media (min-width: 992px) {
  .main-header h4 {
    display: block;
  }
}
.header-inner-content {
  padding-right: 0px;
  padding-left: 10px;
}
@media (max-width:992px) {
  .header-inner-content {
    padding-left: 15px;
  }
}
/*
 * Main Navigation Functionality
 */
.menu-wrap {
  font-family: "uni", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-transform: matrix(1, 0, 0, 1, -260, 0);
  -moz-transform: matrix(1, 0, 0, 1, -260, 0);
  -o-transform: matrix(1, 0, 0, 1, -260, 0);
  -ms-transform: matrix(1, 0, 0, 1, -260, 0);
  transform: matrix(1, 0, 0, 1, -260, 0);
  left: 0;
  padding: 0 15px;
  position: fixed;
 // text-transform: uppercase;
  top: 0;
  right: 0;
  bottom: 0;
  width: 240px;
  z-index: 1032;
}
@media (max-width:992px) {
  .menu-wrap {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  }
}
@media (max-width:992px) {
  .menu-wrap {
    overflow: auto;
    overflow-y: hidden;
    box-shadow: inset -5px 0px 5px rgba(236, 236, 236, 0.5);
  }
  .menu-wrap .main-nav li.icon-home {
    display: none;
  }
}
@media (min-width: 992px) {
  .menu-wrap {
    background: #fff;
    margin: 0;
    padding: 90px 40px 0 40px;
    width: 240px;
  }
}
.menu-wrap .push {
  height: 135px;
}
.menu-wrap .social-links {
  float: none;
}
@media (max-width:992px) {
  .menu-wrap .social-links {
    border-bottom-color: #e6e6e6;
  }
}
@media (max-width:992px) {
  .menu-wrap .social-links li {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  }
}
.menu-wrap .social-links li i:before {
  font-size: 30px !important;
}
.menu-wrap .social-links li:last-child i:before {
  left: -1px;
}
.menu-wrap .main-nav {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  height: auto !important;
  height: 100%;
  margin-bottom: -165px;
  min-height: 100%;
  overflow-x: visible;
}
.menu-wrap .main-nav ul {
  margin-top: 5px;
  padding: 0;
}
@media (max-width:992px) {
  .menu-wrap .main-nav ul {
    padding-top: 0px;
  }
}
.menu-wrap .main-nav li {
  display: block;
  list-style: none;
  position: relative;
  -webkit-transition: margin-left 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: margin-left 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: margin-left 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: margin-left 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
@media (max-width:992px) {
  .menu-wrap .main-nav li {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  }
}
.menu-wrap .main-nav li:hover {
  margin-left: 15px;
}
@media (max-width:992px) {
  .menu-wrap .main-nav li:hover {
    margin-left: 0px;
  }
}
.menu-wrap .main-nav li:hover a {
  color: #252425;
}
.menu-wrap .main-nav li:hover:before {
  color: #252425;
}
.menu-wrap .main-nav li:before {
  font-size: 16px;
  left: 0;
  position: absolute;
  top: 13px;
  color: #a4a4a4;
  -webkit-transition: color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
@media (min-width: 992px) {
  .menu-wrap .main-nav li:before {
    font-size: 20px;
    top: 15px;
  }
}
@media (max-width:992px) {
  .menu-wrap .main-nav li:before {
    top: 9px;
    font-size: 27px;
  }
}
.menu-wrap .main-nav li a {
  border-bottom: 1px solid #eaeaea;
  color: #a4a4a4;
  display: block;
  font-size: 14px;
  font-family: "uni", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-transition: color 0.4s cubic-bezier(1, 0, 0, 1);
  -moz-transition: color 0.4s cubic-bezier(1, 0, 0, 1);
  -o-transition: color 0.4s cubic-bezier(1, 0, 0, 1);
  transition: color 0.4s cubic-bezier(1, 0, 0, 1);
}
@media (min-width: 992px) {
  .menu-wrap .main-nav li a {
    padding-left: 30px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
@media (max-width:992px) {
  .menu-wrap .main-nav li a {
    font-weight: normal;
    font-size: 14px;
    padding-left: 30px;
    border-bottom-color: #eaeaea;
  }
}
.menu-wrap .main-nav li ul.children a {
  border-bottom: 1px solid #f7f7f7;
}
.menu-wrap .main-nav li.current_page_item > a,
.menu-wrap .main-nav li.current_page_parent > a,
.menu-wrap .main-nav li.current_page_item:before,
.menu-wrap .main-nav li.current_page_parent:before {
  color: #252425;
}
@media (max-width:992px) {
  .menu-wrap .main-nav li.current_page_item a,
  .menu-wrap .main-nav li.current_page_parent a {
    font-weight: bold;
  }
}
.menu-wrap .main-nav li:last-child a {
  border: none;
}
.menu-wrap .main-nav a {
  color: #252425;
}
.container {
  height: 100%;
  position: relative;
}
.container #content-wrap {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
}
@media (max-width:992px) {
  
}
.home .container #content-wrap {
  left: 0;
  right: 0;
}
@media (max-width:992px) {
  .container #content-wrap {
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 101;
  }
}
.container .main-header {
  left: 0;
  top: 0;
  padding-left: 0;
  text-align: left;
  -webkit-transition: margin-left 0.25s linear;
  -moz-transition: margin-left 0.25s linear;
  -o-transition: margin-left 0.25s linear;
  transition: margin-left 0.25s linear;
}
@media (max-width:992px) {
  
}
@media (min-width: 992px) and (max-width: 1280px) {
  
}
.container.nav-exposed .main-header h4 span {
  color: #c0bdbf;
}
.container.nav-exposed .main-header h4 span a {
  color: #252425;
}
.container.nav-exposed i.nav-button span#hamburger {
  background-color: #c0bdbf;
  box-shadow: 0 5px #c0bdbf, 0 -5px #c0bdbf;
}
.nav-container {
  position: relative;
}
.nav-button {
  float: left;
  height: 13px;
  z-index: 10;
  margin-right: 19px;
  position: relative;
  line-height: 10px;
  font-size: 1px;
  vertical-align: text-top;
  /* OLD HAMBURGER
	span#hamburger {
		content: " ";
		background-color: #252425;
		display: block;
		box-shadow: 0 5px #252425, 0 -5px #252425;
		width: 100%;
		height: 3px;
		position: absolute;
		top: 50%;
		margin-top:-2px;
		z-index: 2;
		@media @tabletLandscape {
			&:after {
				content: " ";
				background-color: inherit;
				display: block;
				//box-shadow: 0 5px #252425, 0 -5px #252425;
				width: 2px;
				height: 15px;
				position: absolute;
				top: -6px;
				left: 38px;
				z-index: 2;

				body.home & {
					background-color: #0f0f0f;
				}
			}
			
		}
		//.transition-multiple(~"background-color, box-shadow",  0.3s, cubic-bezier(0.19, 1, 0.22, 1));
	}
	span.hover#hamburger {
		.transition(width 0.3s cubic-bezier(0.19, 1, 0.22, 1));
		background-color: #a4a4a4;
		box-shadow: 0 5px #a4a4a4, 0 -5px #a4a4a4;
		z-index: 3;
		width: 0%;
		right: 0px;
		left: auto;
		&:after {
			content: none;
		}
		@media @mobile {
			display: none;
		}
	}
	*/

  /*
	&:hover {
		// span#hamburger {
		// 	background-color: #a4a4a4;
		// 	box-shadow: 0 5px #a4a4a4, 0 -5px #a4a4a4;
		// }
		span.hover#hamburger {
			width: 100%;
			left: 0px;
			right: auto;
		}
	}
	*/

}
.nav-button.slide-left {
  -webkit-animation-name: iconSlideLeft;
  -moz-animation-name: iconSlideLeft;
  animation-name: iconSlideLeft;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}
.nav-button.slide-right {
  -webkit-animation-name: iconSlideRight;
  -moz-animation-name: iconSlideRight;
  animation-name: iconSlideRight;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}
.nav-button div.hamburger {
  width: 20px;
  height: 13px;
  position: relative;
  margin-right: 19px;
  overflow: visible;
  line-height: 13px;
  font-size: 1px;
  float: left;
  cursor: pointer;
}
.nav-button div.hamburger .line {
  position: absolute;
  background-color: #252425;
  overflow: hidden;
  z-index: 1;
  width: 20px;
  height: 3px;
  left: 0px;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 0.8s;
  -webkit-transition-delay: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 0.8s;
  -moz-transition-delay: 0.2s;
  -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -ms-transition-property: -ms-transform;
  -ms-transition-duration: 0.8s;
  -ms-transition-delay: 0.2s;
  -ms-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -o-transition-property: -o-transform;
  -o-transition-duration: 0.8s;
  -o-transition-delay: 0.2s;
  -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition-property: transform;
  transition-duration: 0.8s;
  transition-delay: 0.2s;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}
@media (max-width:992px) {
  .nav-button div.hamburger .line {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  }
}
.nav-button div.hamburger .line:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -o-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  height: 3px;
  background: #a4a4a4;
}
.nav-button div.hamburger .line:nth-child(1) {
  -webkit-transform-origin: 0px 1.5px;
  -moz-transform-origin: 0px 1.5px;
  -ms-transform-origin: 0px 1.5px;
  -o-transform-origin: 0px 1.5px;
  transform-origin: 0px 1.5px;
  top: 0px;
  z-index: 2;
}
.nav-button div.hamburger .line:nth-child(1):after {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-delay: 0;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 0.4s;
  -moz-transition-delay: 0;
  -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -ms-transition-property: -ms-transform;
  -ms-transition-duration: 0.4s;
  -ms-transition-delay: 0;
  -ms-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -o-transition-property: -o-transform;
  -o-transition-duration: 0.4s;
  -o-transition-delay: 0;
  -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition-property: transform;
  transition-duration: 0.4s;
  transition-delay: 0;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}
.nav-button div.hamburger .line:nth-child(2) {
  top: 5px;
  z-index: 1;
  -webkit-transition: opacity 0.4s linear 0.5s;
  -moz-transition: opacity 0.4s linear 0.5s;
  -o-transition: opacity 0.4s linear 0.5s;
  transition: opacity 0.4s linear 0.5s;
}
.nav-button div.hamburger .line:nth-child(2):after {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-delay: 0.1s;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 0.4s;
  -moz-transition-delay: 0.1s;
  -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -ms-transition-property: -ms-transform;
  -ms-transition-duration: 0.4s;
  -ms-transition-delay: 0.1s;
  -ms-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -o-transition-property: -o-transform;
  -o-transition-duration: 0.4s;
  -o-transition-delay: 0.1s;
  -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition-property: transform;
  transition-duration: 0.4s;
  transition-delay: 0.1s;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}
.nav-button div.hamburger .line:nth-child(3) {
  -webkit-transform-origin: 0px 1.5px;
  -moz-transform-origin: 0px 1.5px;
  -ms-transform-origin: 0px 1.5px;
  -o-transform-origin: 0px 1.5px;
  transform-origin: 0px 1.5px;
  top: 10px;
  z-index: 3;
}
.nav-button div.hamburger .line:nth-child(3):after {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-delay: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 0.4s;
  -moz-transition-delay: 0.2s;
  -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -ms-transition-property: -ms-transform;
  -ms-transition-duration: 0.4s;
  -ms-transition-delay: 0.2s;
  -ms-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -o-transition-property: -o-transform;
  -o-transition-duration: 0.4s;
  -o-transition-delay: 0.2s;
  -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition-property: transform;
  transition-duration: 0.4s;
  transition-delay: 0.2s;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}
.nav-button div.hamburger:hover .line:after {
  width: 100%;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}
.container.nav-exposed .nav-button div.hamburger .line:nth-child(1) {
  -webkit-transform: translateY(-2px) rotate(45deg);
  -moz-transform: translateY(-2px) rotate(45deg);
  -o-transform: translateY(-2px) rotate(45deg);
  -ms-transform: translateY(-2px) rotate(45deg);
  transform: translateY(-2px) rotate(45deg);
}
.container.nav-exposed .nav-button div.hamburger .line:nth-child(2) {
  -webkit-transition: opacity 0.4s linear 0s;
  -moz-transition: opacity 0.4s linear 0s;
  -o-transition: opacity 0.4s linear 0s;
  transition: opacity 0.4s linear 0s;
  opacity: 0;
}
.container.nav-exposed .nav-button div.hamburger .line:nth-child(3) {
  -webkit-transform: translateY(2px) rotate(-45deg);
  -moz-transform: translateY(2px) rotate(-45deg);
  -o-transform: translateY(2px) rotate(-45deg);
  -ms-transform: translateY(2px) rotate(-45deg);
  transform: translateY(2px) rotate(-45deg);
}
.nav-button .nav-vertical-line {
  display: none;
}
@media (min-width: 992px) {
  .nav-button .nav-vertical-line {
    display: block;
    background-color: #f2f2f2;
    float: left;
    overflow: hidden;
    width: 2px;
    height: 13px;
    position: relative;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
  }
  body.home .nav-button .nav-vertical-line {
    background-color: #c0bdbf;
  }
  .container.nav-exposed .nav-button .nav-vertical-line {
    background-color: #f2f2f2;
  }
}
@media (max-width:992px) {
  .nav-button {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (min-width: 992px) {
  .nav-button {
    padding-left: 0px;
    margin-right: 19px;
  }
}
.nav-close-text {
  display: inline-block;
  vertical-align: text-top;
  position: absolute;
  top: -2px;
  left: 60px;
  font-weight: normal;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
body.nav-exposed .nav-close-text {
  opacity: 1;
  -webkit-transition: opacity 0.5s linear 0.3s;
  -moz-transition: opacity 0.5s linear 0.3s;
  -o-transition: opacity 0.5s linear 0.3s;
  transition: opacity 0.5s linear 0.3s;
}
.nav-close-text h4 {
  font-weight: normal;
  color: #c0bdbf;
}
.nav-button-text {
  display: inline-block;
  vertical-align: text-top;
  position: relative;
  top: -2px;
  font-weight: normal;
  z-index: 2;
  -webkit-transition: opacity 0.5s linear 0.3s;
  -moz-transition: opacity 0.5s linear 0.3s;
  -o-transition: opacity 0.5s linear 0.3s;
  transition: opacity 0.5s linear 0.3s;
}
body.nav-exposed .nav-button-text {
  opacity: 0;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
@media (min-width: 992px) and (max-width: 1280px) {
  .nav-button-text {
    padding-left: 0px;
  }
}
@media (max-width:992px) {
  .nav-button-text {
    padding-left: 10px;
    margin-left: 15px;
  }
}
@media (min-width: 992px), (min-width: 768px) and (max-width: 992px) {
  .nav-button-text {
    padding-left: 0px;
    margin-left: 0px;
  }
}
.nav-button-text h4 {
  font-weight: normal;
  float: left;
}
.nav-button-text h4 a,
.nav-button-text h4 a:visited,
.nav-button-text h4 a:active {
  color: #252425;
}
.nav-button-text h4 span:first-child {
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  color: #c0bdbf;
  position: relative;
  z-index: 2;
}
.nav-button-text .nav-back-arrow {
  float: left;
  position: relative;
  left: -3px;
  height: 20px;
  width: 0px;
  overflow: hidden;
}
@media (max-width:992px) {
  .nav-button-text .nav-back-arrow {
    display: none !important;
  }
}
.nav-button-text .nav-back-arrow .icon-arrow-right {
  font-size: 25px;
  line-height: 17px;
  position: relative;
  top: 0;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  float: left;
  margin-right: 5px;
  color: #c0bdbf;
}
.nav-button-text.clickable .nav-back-arrow {
  cursor: pointer;
}
.nav-button-text.clickable .nav-back-arrow i {
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
.nav-button-text.clickable h4 span:first-child,
.nav-button-text.clickable h4 a:first-child {
  cursor: pointer;
}
.nav-button-text.clickable h4 span:first-child {
  color: inherit;
}
.nav-button-text.clickable:hover .nav-back-arrow i {
  color: #c0bdbf !important;
}
.nav-button-text.clickable:hover h4 span:first-child,
.nav-button-text.clickable:hover h4 a:first-child {
  color: #c0bdbf;
}
body.home .nav-button-text {
  cursor: pointer;
}
body.home .nav-button-text:hover h4 span {
  color: #252425;
}
.nav-button-text-content {
  display: inline-block;
  vertical-align: text-top;
  position: relative;
  top: -2px;
  font-weight: normal;
  z-index: 2;
  -webkit-transition: opacity 0.5s linear 0.3s;
  -moz-transition: opacity 0.5s linear 0.3s;
  -o-transition: opacity 0.5s linear 0.3s;
  transition: opacity 0.5s linear 0.3s;
  display: block;
}
body.nav-exposed .nav-button-text-content {
  opacity: 0;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
@media (min-width: 992px) and (max-width: 1280px) {
  .nav-button-text-content {
    padding-left: 0px;
  }
}
@media (max-width:992px) {
  .nav-button-text-content {
    padding-left: 10px;
    margin-left: 15px;
  }
}
@media (min-width: 992px), (min-width: 768px) and (max-width: 992px) {
  .nav-button-text-content {
    padding-left: 0px;
    margin-left: 0px;
  }
}
.nav-button-text-content h4 {
  font-weight: normal;
  float: left;
}
.nav-button-text-content h4 a,
.nav-button-text-content h4 a:visited,
.nav-button-text-content h4 a:active {
  color: #252425;
}
.nav-button-text-content h4 span:first-child {
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  color: #c0bdbf;
  position: relative;
  z-index: 2;
}
.nav-button-text-content .nav-back-arrow {
  float: left;
  position: relative;
  left: -3px;
  height: 20px;
  width: 0px;
  overflow: hidden;
}
@media (max-width:992px) {
  .nav-button-text-content .nav-back-arrow {
    display: none !important;
  }
}
.nav-button-text-content .nav-back-arrow .icon-arrow-right {
  font-size: 25px;
  line-height: 17px;
  position: relative;
  top: 0;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  float: left;
  margin-right: 5px;
  color: #c0bdbf;
}
.nav-button-text-content.clickable .nav-back-arrow {
  cursor: pointer;
}
.nav-button-text-content.clickable .nav-back-arrow i {
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
.nav-button-text-content.clickable h4 span:first-child,
.nav-button-text-content.clickable h4 a:first-child {
  cursor: pointer;
}
.nav-button-text-content.clickable h4 span:first-child {
  color: inherit;
}
.nav-button-text-content.clickable:hover .nav-back-arrow i {
  color: #c0bdbf !important;
}
.nav-button-text-content.clickable:hover h4 span:first-child,
.nav-button-text-content.clickable:hover h4 a:first-child {
  color: #c0bdbf;
}
.nav-button-text-content h4 span {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.nav-button-text-content h4 .inner-holder {
  position: relative;
}
.nav-button-text-content span.dash-name {
  font-size: 17px;
  color: #c0bdbf;
  font-weight: normal;
}
footer.main-footer {
  position: relative;
  height: 135px;
}
@media (max-width:992px) {
  footer.main-footer {
    position: absolute;
    bottom: 17px;
    left: 15px;
    height: auto;
    width: 210px;
  }
}
footer.main-footer ul {
  border-bottom: 1px solid #e7e7e7;
  padding: 0 0 15px 0;
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  footer.main-footer ul {
    margin-bottom: 17px;
    padding: 0 0 17px 0;
  }
}
footer.main-footer li {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
}
@media (min-width: 992px) {
  footer.main-footer li {
    margin-right: 3px;
  }
}
footer.main-footer .site-info {
  font-size: 12px;
}
footer.main-footer .site-info p {
  margin-bottom: 5px;
  color: #a4a4a4;
}
@media (max-width:992px) {
  footer.main-footer .site-info p {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  }
}
footer.main-footer .site-info p span:first-child {
  color: #252425;
  display: inline-block;
  font-weight: normal;
  margin-right: 10px;
  width: 14px;
}
footer.main-footer .site-info i {
  font-size: 22px;
  margin-right: 10px;
  margin-left: -8px;
  line-height: 0px;
  height: 10px;
  width: 16px;
  display: inline-block;
}
footer.main-footer .site-info i:before {
  color: #252425;
  display: inline-block;
  position: absolute;
  top: 6px;
}
footer.main-footer .site-info .icon-address-alt {
  font-size: 27px;
  -webkit-transform: matrix(1.1, 0, 0, 1.1, -2, 1);
  -moz-transform: matrix(1.1, 0, 0, 1.1, -2, 1);
  -o-transform: matrix(1.1, 0, 0, 1.1, -2, 1);
  -ms-transform: matrix(1.1, 0, 0, 1.1, -2, 1);
  transform: matrix(1.1, 0, 0, 1.1, -2, 1);
}
footer.main-footer .site-info .icon-phone-2 {
  -webkit-transform: matrix(0.9, 0, 0, 0.9, 2, 0);
  -moz-transform: matrix(0.9, 0, 0, 0.9, 2, 0);
  -o-transform: matrix(0.9, 0, 0, 0.9, 2, 0);
  -ms-transform: matrix(0.9, 0, 0, 0.9, 2, 0);
  transform: matrix(0.9, 0, 0, 0.9, 2, 0);
}
footer.main-footer .btn {
  border-radius: 0;
  height: 40px;
  width: 40px;
  padding: 0;
  position: relative;
}
@media (min-width: 992px) {
  footer.main-footer .btn {
    height: 30px;
    width: 30px;
    border-radius: 2px;
  }
}
footer.main-footer .btn span {
  float: left;
  text-indent: -99999px;
}
footer.main-footer .btn i {
  display: block;
  width: 100%;
  height: 100%;
}
footer.main-footer .btn i:before {
  color: #c0bdbf;
  display: block;
  font-size: 18px;
  line-height: 40px;
  left: 0;
  height: 40px;
  position: absolute;
  top: 0;
  width: 40px;
}
@media (min-width: 992px) {
  footer.main-footer .btn i:before {
    color: #ffffff;
    height: 30px;
    line-height: 30px;
    width: 30px;
  }
}
footer#news-footer {
  background-color: #f7f7f7;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 15px;
  position: absolute;
  width: 100%;
}
@media (min-width: 992px) {
  footer#news-footer {
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    margin-top: 40px;
    padding: 35px 100px;
    position: fixed;
    width: 100%;
  }
}
footer#news-footer .news-share {
  float: left;
}
footer#news-footer .news-share h3 {
  color: #949494;
  display: none;
  letter-spacing: 1px;
  margin-right: 18px;
  text-transform: uppercase;
  font-size: 14px;
}
@media (min-width: 992px) {
  footer#news-footer .news-share h3 {
    display: inline-block;
    vertical-align: middle;
  }
}
footer#news-footer .news-share ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
footer#news-footer .news-share ul li {
  display: inline-block;
  margin-right: 12px;
  list-style: none;
}
footer#news-footer a.smooth-scroll {
  float: right;
}
@media (min-width: 992px) {
  footer#news-footer a.smooth-scroll {
    display: none;
  }
}
/*
 *	POST NAVIGATION STYLES.
 *  Main navigation styles are found in header.less
 */
